/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* config-body */


/* config-header */
header {
    width: 100%;
    height: 30%;
}

.Container-Header {
    position: relative;
}

.BackImg-Header {
    width: 100%;
    height: 80vh;

    position: absolute;
    z-index: 0;
}

.Box-Figure {
    width: 30%;
    z-index: 1;
    
    position: absolute;
    left: 10%;
}
.Figure-Header {
    width: 65vw;
}

.Box-Star {
    width: 25vw;
    height: 10vh;
    
    position: absolute;
    top: 45vh;
    left: 20vw;
}
.Text-Star {
    width: 22vw;
}

.Box-Wars {
    width: 25vw;
    height: 10vh;
    
    position: absolute;
    top: 45vh;
    left: 60vw;
}
.Text-Wars {
    width: 22vw;
}

.Box-Legion {
    width: 10%;
    height: 80vh;
    
    position: absolute;
    left: 85vw;
}
.Text-Legion {
    width: 8vw;
    position: absolute;
    top: 60vh;
}

/* config-main */
main {
    width: 100%;
}

.Box-RedOne {
    width: 20vw;
    
    position: absolute;
    top: 75vh;
    left: 15vw;
    z-index: 2;
}
.Box-SobreJogo {
    width: 50vw;
    
    position: absolute;
    top: 110vh;
    left: 45vw;
}

.LinhaMain {
    width: 80vw;

    position: absolute;
    top: 150vh;
    left: 15vw;
}

.PersonagemMainOne {
    width: 40vw;

    position: absolute;
    top: 155vh;
    left: 15vw;
    z-index: 2;
}
.PersonagemMainTwo {
    width: 18vw;

    position: absolute;
    top: 165vh;
    left: 75vw;
    z-index: 2;
}

.Box-EstruturaJogo {
    width: 28vw;

    position: absolute;
    top: 155vh;
    left: 43vw;
    z-index: 3;
}

.Title-BoxCinza {
    width: 15vw;

    position: absolute;
    top:255vh;
    left: 15vw;
    z-index: 2;
}
.Box-Cinza {
    width: 100%;

    position: absolute;
    top: 233vh;
    z-index: 1;
}
.BoxCinza-ImageOne {
    width: 40vw;

    position: absolute;
    top: 270vh;
    left: 10vw;
    z-index: 2;
}
.BoxCinza-ImageTwo {
    width: 20vw;

    position: absolute;
    top: 270vh;
    left: 50vw;
    z-index: 2;
}
.BoxCinza-ImageThree {
    width: 20vw;

    position: absolute;
    top: 270vh;
    left: 70vw;
    z-index: 2;
}
.BoxCinza-ImageFour {
    width: 20vw;

    position: absolute;
    top: 296.5vh;
    left: 50vw;
    z-index: 2;
}
.BoxCinza-ImageFive {
    width: 20vw;

    position: absolute;
    top: 296.5vh;
    left: 70vw;
    z-index: 2;
}

.BoxCinza-ImageSix {
    width: 80vw;

    position: absolute;
    top:335vh;
    left: 10vw;
    z-index: 2;
}
.BoxCinza-TextImageSix {
    width: 40vw;

    position: absolute;
    top:445vh;
    left: 50vw;
    z-index: 2;
}

.PersonagemMainThree {
    width: 25vw;

    position: absolute;
    top: 460vh;
    left: 10vw;
    z-index: 2;
}

.Title-ComoJogar {
    width: 20vw;

    position: absolute;
    top:480vh;
    left: 50vw;
    z-index: 4;
}

.Container-TipoGame {
    width: 100%;
    height: 60vh;

    position: absolute;
    top: 495vh;
}

.Box-DownloadOne {
    position: absolute;
    top: 10vh;
    left: 40vw;
    z-index: 2;
}
.DownloadOne {
    width: 15vw;
}
.DownloadOneLinha {
    position: absolute;
    top: 40vh;
    left: 4vw;
}

.Box-DownloadTwo {
    position: absolute;
    top: 10vh;
    left: 60vw;
    z-index: 2;
}
.DownloadTwo {
    width: 15vw;
}
.DownloadTwoLinha {
    position: absolute;
    top: 40vh;
    left: 4vw;
}

.Box-DownloadThree {
    position: absolute;
    top: 10vh;
    left: 80vw;
    z-index: 2;
}
.DownloadThree {
    width: 15vw;
}
.DownloadThreeLinha {
    position: absolute;
    top: 40vh;
    left: 4vw;
}


/* .Box-DownloadTwo {
    
} */


/* config-footer */
footer {
    width: 100%;
}

.Box-RedFooter {
    width: 60vw;
    height: 85vh;
    
    position: absolute;
    top: 560vh;
    z-index: 2;    
}

.Title-Aplicativo {
    width: 12vw;

    position: absolute;
    top: 565vh;
    left: 13vw;
    z-index: 2;
}
.DescriptionOne {
    width: 30vw;

    position: absolute;
    top: 580vh;
    left: 13vw;
    z-index: 2;
}

.PersonagemFooterOne {
    width: 30vw;

    position: absolute;
    top: 550vh;
    left: 50vw;
    z-index: 2;    
}

.Button-PlayStore {
    width: 13vw;

    position: absolute;
    top: 595vh;
    left: 13vw;
    z-index: 2;    
}
.Button-AppleStore {
    width: 13vw;

    position: absolute;
    top: 595vh;
    left: 28vw;
    z-index: 2;    
}

.LinhaVermelha {
    width: 28vw;

    position: absolute;
    top: 607vh;
    left: 13vw;
    z-index: 2; 
}

.Title-StarWars {
    width: 12vw;

    position: absolute;
    top: 611vh;
    left: 13vw;
    z-index: 2;   
}
.DescriptionTwo {
    width: 30vw;

    position: absolute;
    top: 628vh;
    left: 13vw;
    z-index: 2;
}

.Coopy {
    width: 20vw;

    position: absolute;
    top: 630vh;
    left: 70vw;
    z-index: 2;     
}
